body {
    font-family: 'Arial', sans-serif;
    color: #333;
    animation: gradient 5s ease-in-out infinite;
    background: linear-gradient(270deg, #f0f0f0, #f0f0f0);
    background-size: 200% 200%;
    overflow-x: hidden; /* verhindert das Scrollen nach rechts */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.recipe {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.recipe:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.recipe h2 {
    color: #6c757d;
    font-size: 1.8em;
    font-weight: bold;
}

.recipe h3 {
    color: #343a40;
    font-size: 1.4em;
    font-weight: bold;
}

.recipe ul, .recipe ol {
    margin-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
