
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333; /* Fügt eine allgemeine Textfarbe hinzu, um den Kontrast zu erhöhen */
}

.recipe {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Hintergrundbild entfernt, um die Lesbarkeit zu verbessern */
}

.recipe img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.recipe h2 {
    text-align: center;
    color: #004d7a; /* Dunklere Farbe für Überschriften, um den Kontrast zu erhöhen */
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.recipe h3 {
    color: #008793; /* Dunklere Farbe für Unterüberschriften, um den Kontrast zu erhöhen */
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.recipe ul, .recipe ol {
    list-style-type: none;
    padding: 0;
    color: #333;
}

.recipe li {
    margin-bottom: 10px;
    font-size: 16px;
}
