
body {
    background-color: #ffe1c6;
    font-family: 'Lucida Sans', sans-serif;
    color: #48284a;
    line-height: 1.5;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 300%;
    background-color: #48284a;
    text-align: right;
    text-shadow: 0px 0px 6px #fff7ae;
    padding-right: 15px;
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
}

nav ul li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #48284a;
    text-align: center;
    justify-content: center;
}

nav ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-left: 10px;
}
nav ul {
    list-style: none;
    padding-left: 0;
}

.recipe {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgb(197, 143, 143);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Hintergrundbild entfernt, um die Lesbarkeit zu verbessern */
}

.recipe img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.recipe h2 {
    text-align: center;
    color: #004d7a; /* Dunklere Farbe für Überschriften, um den Kontrast zu erhöhen */
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}



.recipe h3 {
    color: #008793; /* Dunklere Farbe für Unterüberschriften, um den Kontrast zu erhöhen */
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.recipe ul, .recipe ol {
    list-style-type: none;
    padding: 0;
    color: #333;
}

.recipe li {
    margin-bottom: 10px;
    font-size: 16px;
}

figure div.arrow {
    position: absolute;
    right: 25px;
    top: 50%;
    z-index: 100;
}